main {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 24px 0;
}

/*
    Content wrapper
*/
main .content {
    width: 1080px;
    min-height: 400px;
    background-color: #f7f7f7;
    padding: 15px 15px 50px 15px;
}

main .content .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .content .title h1 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

main .content .title hr {
    border-color: #292b2c;
    opacity: 1;
    width: 250px;
}

/*
    Posts
*/
main .posts {
    margin-top: 100px;
}

main .posts .card-header {
    padding: 0.75rem 1.25rem;
}

main .posts .card-body {
    padding: 0 1.25rem;
}

main .posts .list-group-item {
    padding: 0.75rem 1.25rem;
}

main .posts .list-group-item a {
    color: #0a0dcd;
}

main .posts .card-body:hover,
main .posts .card-body:hover .list-group-item {
    background-color: #f8f8f8;
}

main .posts .category-title {
    color: #333;
    font-weight: 500;
    font-size: 1.05em;
}

main .posts .category-title {
    border-color: #292b2c;
    opacity: 1;
    width: 250px;
}